/*
papaya (red) #E24E42

mustard (yellow) #E9B000

blush (pink) #EB6E80

Aqua (blue) #008F95
*/

body{
	
	background-image: url('background2.jpg');
	#background-color:#EB6E80;

	
}

h2{
	
	text-align:left;
	color: #707070;
	font-size: 60px;
	font-weight: normal;
	font-family:Verdana;
	
}

main{
	
	
	display:flex;
	justify-content: center;
	align-items: center;
	width:100%;
	flex-wrap: wrap;
	
	
}

main > form{
	
	display:flex;
	flex-direction: row;
	flex-grow:1;
	height:50vh;
	
}

main > form > div{
	
	padding:10px;
	display:flex;
	flex-direction: column;
	flex-basis:50%;
	flex-grow:1;
	margin:25px;
	background-color:white;
	height:100%;
	border-radius:25px;
	border:2px #008F95 solid;
	box-shadow: 10px 10px #E24E42;

	
}

main > div{
	
	padding:10px;
	display:flex;
	flex-direction: column;
	flex-basis:50%;
	flex-grow:1;
	margin:25px;
	background-color:white;
	height:100%;
	border-radius:25px;
	border:2px #008F95 solid;
	box-shadow: 10px 10px #E24E42;
	align-items: center;

	
}

.formStuff{
	
	margin-top:5px;
	margin-bottom:5px;
	
}

#pictures{
	
	padding:15px;
	flex-direction:row;
	
}

#pictures > div{
	
	flex-grow:1;
	border:1px black solid;
	
}

#littlePictures{
	
	flex-direction:column;
	
}

#littlePictures > div{
	
	height:50%;
	flex-grow:1;
	border:1px black solid;
	
}

#buttons{

	justify-content: center;
	align-items: center;

	
}

#btn btn-success{
	background-color:#00b3b3;
}

#btn btn-danger{
	background-color: #ccffff;
}

#buttons > button{

	margin:35px;

}



.flexBreak{
	
	flex-basis:100%;
	height:0;
	
}

#navigation{
	
	
	background-color:#E24E42 !important;
	
}


#cancel-button{
	
	background-color:blue;
	border-color:blue;
	
}
